.tagsCard {
    display: flex;
    flex-direction: column;
    position: relative;
    border: .0625rem solid #4164b1;
    // border-radius: 30px;
    text-align: left;
    justify-content: left;
    border-style: double;
    margin: 5px;
    height: 30vh;
    width: 10vw;
    top: 0%;
    // width: 20vw;
    // width: 2vw;


    .tagName{
        position: relative;
        top: 0%;
        text-align: center;
        width: 100%;
        justify-content: center;
    }


    &:hover {
        transform: translateY(-1rem)
    }

    .taggedImages {
        display: flex;
        flex-direction: column;
        // display: grid;
        // grid-template-columns: repeat(6,auto);
        position: absolute;
        top: 5%;

        .image {
            position: relative;

            height: 5vh;
            width: 5vw;
            // height: 70%;

            top: 0px;


        }
    }
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}