.tag {
    position: absolute;
    margin-top: 2%;
    font-size: 1rem;


    .addbtn {
        width: 5vw;
        height: 5vh;
        justify-content: center;
    }

    .formAddTag {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 2%;


    }

    .tags {
        margin-left: 5%;


        .info {
            height: 5vh;
            display: flex;
            padding: 2%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1%;
            margin: 1%;

            .input {
                width: 7vw;
            }

            .btn {
                width: 2vw;
                height: 2vw;
                background-color: transparent;
                border-color: transparent;
            }
        }
    }



}