.tag{
    position: absolute;
    top: 0%;
    width: 20vw;
    left: 3%;

.formAddOffer{
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1;
}

    .tagsTable{
        // position: absolute;
        top:30%;
        // display: flex;
        // flex:3; 
        // justify-content:center;
     
        font-size: 1rem;
        // border: 1mm;
        border-style: solid;
    
    
    }
    
 

}

