.tag {
    position: absolute;
    top: 0%;
    width: 20vw;
  
    font-size: 1rem;

    .formAddTag {
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 2%;

    }

    .table {
        margin-left: 1%;
        position: relative;
        top: 30%;
        border-style: solid;



        .table-striped {
            justify-content: space-evenly;
            border-color: black;
        }


    }



}