.MainCard {
    position: relative;
    border: .0625rem solid #4164b1;
    text-align: left;
    justify-content: left;
    border-style: double;
    margin: 5px;
    height: 30vh;
    width: 10vw;

    .imgMainCard {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 70%;
        top: 0px;
    }

    .txt {
        padding: 1%;
        // display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        font-weight: bold;
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0px;

        p {
            height: 20%;
            font-size: 0.7rem;
        }


        .FormControl {
            position: relative;
            top: 0%;
            height: 5%;

        }
    }



}


a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}